/** **************************************
* Fonts: app
*************************************** */
@import '../../../../node_modules/@fontsource-variable/public-sans';

@import '../../../../node_modules/@fontsource/barlow/400.css';
@import '../../../../node_modules/@fontsource/barlow/500.css';
@import '../../../../node_modules/@fontsource/barlow/600.css';
@import '../../../../node_modules/@fontsource/barlow/700.css';
@import '../../../../node_modules/@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '../../../../node_modules/@fontsource-variable/dm-sans';
@import '../../../../node_modules/@fontsource-variable/inter';
@import '../../../../node_modules/@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */

@import '../../../../node_modules/simplebar-react/dist/simplebar.min.css';


/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

#nprogress {
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
}
#nprogress .bar {
  height: 100%;
  background-color: var(--palette-primary-main);
  box-shadow: 0 0 2.5px var(--palette-primary-main);
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow:
    0 0 10px var(--palette-primary-main),
    0 0 5px var(--palette-primary-main);
}

.simplebar-scrollbar:before {
  background-color: var(--palette-text-disabled);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.48;
}

pre {
  code[as='code'] {
    .hljs-comment {
      color: #999;
    }
    .hljs-tag {
      color: #b4b7b4;
    }
    .hljs-operator,
    .hljs-punctuation,
    .hljs-subst {
      color: #ccc;
    }
    .hljs-operator {
      opacity: 0.7;
    }
    .hljs-bullet,
    .hljs-deletion,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-template-variable,
    .hljs-variable {
      color: #f2777a;
    }
    .hljs-attr,
    .hljs-link,
    .hljs-literal,
    .hljs-number,
    .hljs-symbol,
    .hljs-variable.constant_ {
      color: #f99157;
    }
    .hljs-class .hljs-title,
    .hljs-title,
    .hljs-title.class_ {
      color: #fc6;
    }
    .hljs-strong {
      font-weight: 700;
      color: #fc6;
    }
    .hljs-addition,
    .hljs-code,
    .hljs-string,
    .hljs-title.class_.inherited__ {
      color: #9c9;
    }
    .hljs-built_in,
    .hljs-doctag,
    .hljs-keyword.hljs-atrule,
    .hljs-quote,
    .hljs-regexp {
      color: #6cc;
    }
    .hljs-attribute,
    .hljs-function .hljs-title,
    .hljs-section,
    .hljs-title.function_,
    .ruby .hljs-property {
      color: #69c;
    }
    .diff .hljs-meta,
    .hljs-keyword,
    .hljs-template-tag,
    .hljs-type {
      color: #c9c;
    }
    .hljs-emphasis {
      color: #c9c;
      font-style: italic;
    }
    .hljs-meta,
    .hljs-meta .hljs-keyword,
    .hljs-meta .hljs-string {
      color: #a3685a;
    }
    .hljs-meta .hljs-keyword,
    .hljs-meta-keyword {
      font-weight: 700;
    }
  }
}

.mapboxgl-map {
  .mapboxgl-ctrl.mapboxgl-ctrl-group {
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(var(--palette-grey-500Channel), 0.16);
  }
  .mapboxgl-ctrl.mapboxgl-ctrl-scale {
    border: none;
    color: white;
    font-weight: 700;
    line-height: 14px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #8a2387, #e94057, #f27121);
  }
  .mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon {
    transform: scale(0.75);
  }
  .mapboxgl-ctrl-group button + button {
    border-top: solid 1px var(--palette-divider);
  }
  /* popup */
  .mapboxgl-popup-content {
    padding: 8px;
    max-width: 180px;
    border-radius: 12px;
    background-color: var(--palette-background-paper);
    color: var(--palette-text-primary);
    box-shadow: 0 20px 40px -4px rgba(0, 0, 0, 0.16);
  }
  .mapboxgl-popup-tip {
    transform: translateY(-1px);
    border-top-color: var(--palette-background-paper);
  }
  .mapboxgl-popup-close-button {
    top: 4px;
    right: 4px;
    width: 24px;
    height: 24px;
    opacity: 0.48;
    font-size: 20px;
    border-radius: 50%;
    color: var(--palette-grey-500);
    transition: opacity 200ms linear 0s;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }
  .mapboxgl-ctrl .mapboxgl-ctrl-logo {
    display: none;
  }
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }
}