/** **************************************
* Fonts: app
*************************************** */
@import '../../../../../node_modules/@fontsource-variable/public-sans';

@import '../../../../../node_modules/@fontsource/barlow/400.css';
@import '../../../../../node_modules/@fontsource/barlow/500.css';
@import '../../../../../node_modules/@fontsource/barlow/600.css';
@import '../../../../../node_modules/@fontsource/barlow/700.css';
@import '../../../../../node_modules/@fontsource/barlow/800.css';

/** **************************************
* Fonts: options
*************************************** */
@import '../../../../../node_modules/@fontsource-variable/dm-sans';
@import '../../../../../node_modules/@fontsource-variable/inter';
@import '../../../../../node_modules/@fontsource-variable/nunito-sans';

/** **************************************
* Plugins
*************************************** */

@import '../../../../../node_modules/simplebar-react/dist/simplebar.min.css';


/** **************************************
* Baseline
*************************************** */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body,
#root,
#root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}
input[type='number']::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
}
input[type='number']::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

#nprogress {
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5px;
  z-index: 9999;
  position: fixed;
  pointer-events: none;
}
#nprogress .bar {
  height: 100%;
  background-color: var(--palette-primary-main);
  box-shadow: 0 0 2.5px var(--palette-primary-main);
}
#nprogress .peg {
  right: 0;
  opacity: 1;
  width: 100px;
  height: 100%;
  display: block;
  position: absolute;
  transform: rotate(3deg) translate(0px, -4px);
  box-shadow:
    0 0 10px var(--palette-primary-main),
    0 0 5px var(--palette-primary-main);
}

.simplebar-scrollbar:before {
  background-color: var(--palette-text-disabled);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.48;
}